*{
  margin:0;
  padding:0;
  text-align: center;
  background-color: rgb(172, 233, 220);
}
h1{
  background-color: #081b31;
  color:white;
  height:5rem;
  line-height: 5rem;
}
.choice{
  height: 165px;
  width: 165px;
   border-radius: 50%;
   display:flex;
   justify-content: center;
   align-items: center;
   border:3px solid rgb(237, 245, 9);
}
.choice:hover{
background-color: #081b31;
  cursor: pointer;
}
img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.score{
  border:2px solid #081b31;
  width:8.5rem;
 
}
.choices{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:3rem;
  margin-top: 5rem;
}
.score-board{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap:6rem;
}
#user , #computer{
font-size: 4rem;
}
#msg{
  background-color: #081b31;
  color:white;
  font-size: 2rem;
  margin-top: 5rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
.message{
  margin-top: 5rem;
  
}